<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title>Hidden Gems - making preprints equitable and discoverable</title>
  <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/public/css/app.css" rel="stylesheet" type="text/css">

  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/main.js"></script>

  <link href="/public/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>


<body>

  <nav id="navLeft">
    <!-- <div class="container-fluid"> -->
      <ul>
        {{#each categories}}
          <li>
            <a href="/{{this.key}}/search" {{#if this.active}}class="active"{{/if}}>{{this.name}}</a>
          </li>
        {{/each}}
        <li><a {{#unless category}}class="active"{{/unless}} href="/search">(all)</a></li>
      </ul>
      <br />
      <br/>
      <br/>
    <!-- </div> -->
  </nav>

  <div class="container" id="mainBody">
