<nav id="navLeft">
  <h3>Hidden Gems</h3>

  <ul>
    <li>
      <a href="/">Homepage</a>
      <a href="/about">About</a>
      <a href="/api">API</a>
    </li>
  </ul>

  <br />

  <h3>Categories</h3>

  <ul>
    {{#each categories}}
      <li>
        <a href="/{{this.key}}/search" {{#if this.active}}class="active"{{/if}}>{{this.name}}</a>
      </li>
    {{/each}}
  </ul>

  <br />
  <br/>
</nav>
