{{> header}}

{{> navLeft}}

<div class="container" id="mainBody">

  <h3>Shadow Index</h3>

  <p>Unintentional searching &amp; deciding which new preprints to read
    tends to bias towards the preprints with already high visibility.</p>

  <p>It's difficult to encode factors that might predict low visibility
    of a paper.</p>

  <p>Such factors may include geography or Twitter reach and put many
    first-time preprint authors at a disadvantage.</p>

  <p>We're using ACTUAL early visibility (abstract views in first 3 months)
    of a preprint in our Shadow Index calculations.</p>

  <p>Shadow Index acts as our boost factor. It's a scale from 0 to 100.<br />
    High Shadow Index indicates low visibility of the preprint.
    That is a signal to Hidden Gems that this paper should be promoted.</p>

  <br />

  <h3>Dataset</h3>
  <p>This prototype uses data from
    <a href="https://zenodo.org/record/3382325" target="_blank">"Complete Rxivist
      dataset of scraped bioRxiv data" by Richard J. Abdill and Ran Blekhman</a>.
  </p>

  <br />

  <h3>Open Source</h3>
  <p>
    All code is available on GitLab in
    <a href="https://gitlab.com/equitable-preprints">Equitable Preprints</a>
    group.
  </p>

  <p>
    <a href="https://gitlab.com/equitable-preprints/docs">docs</a>:
    Documentation for the entire project.
  </p>

  <p>
    <a href="https://gitlab.com/equitable-preprints/ep-api">ep-api</a>:
    API which supplies the data for this application. (Back-end layer)
  </p>

  <p>
    <a href="https://gitlab.com/equitable-preprints/ep-ui">ep-ui</a>:
    Code for this application. (Front-end layer)
  </p>

  <p>
    <a href="https://gitlab.com/equitable-preprints/crossref-citation-networks">crossref-citation-networks</a>:
    Experiments with CrossRef citation network data.
  </p>

  <p>
    <a href="https://gitlab.com/equitable-preprints/rxivist_data_exploration">rxivist_data_exploration</a>:
    Experiments with the dataset to understand the patterns behind preprint views.
  </p>

</div>
{{> footer}}
