{{> header}}

<div class="container-fluid" id="mainBody">

  <h1>Hidden Preprints Public API</h1>
  <p>Hidden Preprints exposes a public REST API at
    <a href="https://api.hiddenpreprints.org">api.hiddenpreprints.org</a>.</p>

  <p>It's written in Python and it exposes the following endpoints:</p>

  <ul>
    <li>/categories</li>
    <li>/articles</li>
  </ul>

</div>

{{> navLeft}}

{{> footer}}
