{{> header}}

{{> navLeft}}

<div class="container" id="mainBody">

  <h3>Hidden Gems API</h3>
  <p>Hidden Gems will expose a public API.</p>

  <p>It's written in Python and it exposes the following endpoints:</p>

  <ul>
    <li>/categories</li>
    <li>/articles</li>
  </ul>

</div>
{{> footer}}
