<html>
<form method="GET" action="/search">
  <label for="homeSearchInput">Search term</label>
  <input id="homeSearchInput" name="query" type="text" value="" placeholder="e.g. brain" />
</form>

</html>
