{{> header}}

<div class="container-fluid" id="mainBody">

<div class="homepageJumbotron">
  <img src="/public/shadow_idx.png" id="logo_home" />

  <h1>Hidden Gems</h1>
  <h2>Tool to shine a light<br />on low visibility preprints</h2>

  <br /><br />
  <br /><br />

  <p>Begin by selecting a category.</p>

  </div>
</div>

{{> navLeft}}

{{> footer}}
