{{> header}}

{{> navLeft}}

<div class="container" id="mainBody">

<div class="homepageJumbotron">
  <h1>Hidden Gems</h1>
  <h2>Tool to shine a light on low-visibility preprints</h2>

  <br />
  <br />

  <p>Begin by selecting a category.</p>

  </div>
</div>
{{> footer}}
