.container-fluid#mainBody { margin-left: 200px; max-width: 980px; padding: 30px; }
.form-horizontal .control-label {text-align: left}
.homepageJumbotron h2 {font-size: 24px}

#logo {width: 140px; margin: 10px 30px;}
#logo_home {width: 300px; margin: 10px 30px; float: right}
@media (max-width: 900px) { #logo_home {width:200px} }
@media (max-width: 680px) { #logo_home {width:160px} }

nav#navLeft { position: fixed; left:0; top:0; width:200px; height:100%; overflow: scroll; background: #fafafa; border-right: 1px solid #eee}

nav#navLeft h3 {font-size: 0.8em; text-transform: uppercase; font-weight: 700; color: #555; padding-left: 12px}

nav#navLeft ul, nav#navLeft ul li {padding: 0; margin: 0}
nav#navLeft li { display: block; border-bottom: 1px solid #f8f8f8}
nav#navLeft li a { display: block; padding: 10px 20px; color: black; font-weight: 700; background: #fafafa}
nav#navLeft li a:hover { color: #337ab7; background: #f8f8f8; text-decoration: none}
nav#navLeft li a.active { background: #eee; color: #555}

#mainSearchForm {margin-bottom: 30px; width: 100%; min-width: 200px }
#mainSearchInput {width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px}
#mainSearchSubmit {float: right; margin: -41px 1px 0 0; z-index: 10; position: relative; width: 50px; height: 40px; padding: 0;}
#mainSearchSubmit {border: none; border-radius: 0 3px 3px 0; border-left: 1px solid #eee; background: white;}
#mainSearchSubmit:hover, #mainSearchSubmit:focus {background: #f8f8f8;}

.result-item {padding: 15px 0}
.result-item .category {text-transform: uppercase; color: #888; font-weight: bold}
.result-item h3, .result-item .shadowIndexIndicator {font-size: 22px; margin-top: 10px; margin-bottom: 10px; display: block}
.result-item .shadowIndexIndicator {margin-top: 30px; width: 100px; height: 70px; padding: 30px 5px 0;}
.result-item .shadowIndexIndicator .legend {
background: rgba(118, 118, 118, 0.6); font-size: 11px; font-weight: 400; display: block;
border-radius: 6px 6px 0 0; padding: 5px; margin: -52px -5px 0}

/* Our lowest breakpoint - nav at the bottom */
@media (max-width: 600px) {
  .container-fluid#mainBody { width: 100%; margin-left:0 }
  nav#navLeft {position: relative; left: 0; right: 0; width: 100%; border-right: 0; height: auto }
}


.fa-external-link {font-size: 14px !important}
.fa-twitter {color: #1ca1f2 !important; font-size: 24px !important}
